@use './variables' as *;
@use './mixins' as *;

// SETTING THE BACKGROUND COLOR ON THE MAIN
main{
    background-color: $backgroundColor1;
}

.flexBlog{
    display: flex;
    flex-wrap: wrap;
}

// BLOG RIGHT GENERAL STYLING
.blogRight{
    // changing the order of the aside for desktop
    order: 2;
    // giving the flex children some space and setting a responsive width
    margin-left: 5%;
    flex-basis: 65%;
    // setting a min width so that the flex wrap sets in!!!!!!!!!!!!!!!!!!!!!!!come back to this might not want to use due to the order thing... maybe in the responsive site the aside gets hidden into a drop down section thing
    min-width: 400px;
    // maybe dont need this bit come back and decide!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    .blogwrapper{
        margin: 0 auto;
        width: 90%;
    }
}



// WORLD SECTION STYLING
.world{
    background-color: $backgroundColor2;
    padding-bottom: 10px;
    h2{
        @include h2(2.6rem);
        padding-bottom: 10px;
    }
    h3{
        padding-bottom: 35px;
    }
    p{
        padding-bottom: 30px;
    }
    .bannerImgBlog{
        // positioning the blog img 
        position: relative;
        top: -120px;
        // setting a width on the img container so that flex end has space to work
        width: 100%;
        // moving the img over to the right of the screen
        display: flex;
        justify-content: flex-end;
        img{
            width: 96%;
            box-shadow: -33px 35px 0px 1px $borderColor;
        }
    }
}




// COMMENTS SECTION STYLING
.comments{
    padding: 30px 0 100px 0;
    h2{
        @include h2(2.6rem)
    }
}
.comment1,
.comment2{
    display: flex;
    figure{
        flex-basis: 15%;
    }
    article{
        flex-basis: 80%;
        padding-left: 5%;
        h3{
            padding-bottom: 10px;
        }
    }
}
.comment1{
    padding-top: 30px;
}
.comment2{
    padding-top: 60px;
}

// COMMENT FORM STYLING
.commentForm{
    padding-bottom: 50px;
    .formTop{
        display: flex;
        margin-bottom: 20px;
        input{
            flex-basis: 48%;
            border: 0;
            background-color: $backgroundColor1;
            color: gray;
            border-bottom: 2px solid $borderColor;
            margin-right: 3%;
        }
    }
    textarea{
        color: gray;
        background-color: $backgroundColor1;
        display: block;
        border: 2px solid $borderColor;
        width: 100%;
        height: 40vh;
        resize: none;
        margin-bottom: 20px;
        padding: 20px;
    }
    button{
        display: block;
        color: #fff;
        background-color: $primaryColor;
        padding: 10px 0;
        text-transform: uppercase;
        letter-spacing: 0.05rem;
        font-size: 1rem;
        border: none;
        width: 100%;
    }
}

// ASIDE STYLING
// ALSO MAYBE JUST HAVE THE ASIDE UP TOP AS LIKE A DROP DOWN LINK THING IN THE MEDIA QUERIES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

aside{
    // changing the order of the aside for desktop
    order: 1;
    // giving the flex children some space and setting a responsive width
    margin-left: 5%;
    flex-basis: 25%;
    margin-top: 100px;
    .asideBackground{
        background-color: $backgroundColor2;
    }
    // FIX IMG IN THE ASIDE TO BE BIGGER AND ALSO ADJUST POSITIONING!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    h2{
        @include h2(1.5rem);
        padding-top: 40px;
    }
    p{
        padding-bottom: 40px;
    }
    ul{
        line-height: 1.6rem;
        padding-bottom: 20px;
        list-style: disc;
    }
}