@use './variables' as *;
@use './mixins' as *;

// SETTING THE BACKGROUND COLOR ON THE MAIN
.blogMain{
    background-color: $backgroundColor1;
}

.flexBlog{
    display: flex;
    flex-wrap: wrap;
}

// BLOG RIGHT GENERAL STYLING
.blogRight{
    order: 2;
    margin-left: 5%;
    flex-basis: 65%;
    min-width: 400px;
    .blogwrapper{
        margin: 0 auto;
        width: 90%;
    }
}



// WORLD SECTION STYLING
.world{
    background-color: $backgroundColor2;
    padding-bottom: 10px;
    h2{
        @include h2(2.6rem);
        padding-bottom: 10px;
    }
    h3{
        padding-bottom: 35px;
    }
    p{
        padding-bottom: 30px;
    }
    .bannerImgBlog{
        position: relative;
        top: -120px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        img{
            width: 96%;
            box-shadow: -33px 35px 0px 1px $borderColor;
        }
    }
}




// COMMENTS SECTION STYLING
.commentsSection{
    padding: 30px 0 100px 0;
    h2{
        @include h2(2.6rem);
    }
}
.comment1,
.comment2{
    display: flex;
    figure{
        flex-basis: 15%;
    }
    article{
        flex-basis: 80%;
        padding-left: 5%;
        h3{
            padding-bottom: 10px;
        }
    }
}
.comment1{
    padding-top: 30px;
}
.comment2{
    padding-top: 60px;
}

// COMMENT FORM STYLING
.commentForm{
    padding-bottom: 50px;
    form{
        background-color: $backgroundColor1;
    }
    .formTop{
        display: flex;
        margin-bottom: 20px;
        input{
            @include input($backgroundColor1);
        }
    }
    textarea{
        @include textarea($backgroundColor1);
    }
    button{
        @include formButton($primaryColor);
        border: 2px solid $primaryColor;
    }
    button:hover,
    button:focus{
        color: $primaryColor;
        background-color: $backgroundColor1;
        }
}

// ASIDE STYLING
.asideBlog{
    order: 1;
    margin-left: 5%;
    flex-basis: 25%;
    margin-top: 100px;
    .asideBackground{
        background-color: $backgroundColor2;
    }

    figure {
        position:relative;
        right: 25%;
        top: -20px;
        img {
            width: 110%;
            height: 110%;
        }
    }
    article{
        i{
            font-size: clamp(1rem, 3vw, 2rem);
        }
    }
    h2{
        @include h2(1.5rem);
        padding-top: 40px;
    }
    p{
        padding-bottom: 40px;
    }
    ul{
        line-height: 1.6rem;
        padding-bottom: 20px;
        list-style: disc;
    }
}