@use './mixins' as *;
@use './variables' as *;

// ABOUT STYLING SECTION
.about{
    background-color: $backgroundColor1;
    padding: 20% 0;
    .wrapper{
        text-align: center;
        h2{
            @include h2(2.6rem);
            padding: 20px 0;
        }
        p{
            padding-bottom: 20px;
        }
        button{
            color: $backgroundColor2;
            background-color: $primaryColor;
            padding: 8px 12px;
            text-transform: uppercase;
            letter-spacing: 0.05rem;
            font-size: 1rem;
            border: none;
        }
    }
}

// BLOG INDEX PREVIEW STYLING SECTION
// COME BACK HERE AND WORK ON SOME FLEX WRAP TO ENSURE THAT ITS MORE RESPONSIVE REFER TO THE CODE ALONG IN CLASS FROM A FEW DAYS AGO
.blogPreview{
    background-color: $backgroundColor2;
    min-height: 100vh;
    // setting the width on everything to get it in the proper layout
    .blog1 figure,
    .blog1 article,
    .blog2 figure,
    .blog2 article{
        width: 50%;
    }

    // giving both blogs a bit of breathing room on the bottom
    .blog1,
    .blog2{
        padding-bottom: 30px;
    }


    // using a more responsive measurement
    .blog1 article,
    .blog2 article{
        padding-left: 10%;
        padding-right: 10%;
    }
        .blog1{
            figure{
            position: relative;
            top: -25px;
            img{
                box-shadow: 25px 25px 0px 1px $borderColor;
            }
            }
        }
        .blog2{
            figure{
            position: relative;
            bottom: -40px;
            img{
                box-shadow: -25px 25px 0px 1px $borderColor;
            }
            }
        }

        article{
            h2{
                @include h2(2.1rem);
                padding: 20px 0;
            }
            p{
                padding-bottom: 20px;
            }
            button{
                @include button;
            }
    }
}


// ENGAGEMNET STYLING SECTION
// ADD IN ICONS HERE 
.engagment{
    background-color: $backgroundColor1;
    min-height: 60vh;
    padding: 10% 0 5% 0;
    .flexContainer{
        flex-wrap: wrap;
    }

    .locations,
    .community,
    .blog,
    .getInTouch{
        flex-basis: 50%;
        padding-bottom: 5%;
    }
    
    .locations,
    .blog{
        padding-right: 5%;
    }

    // flexing the icons and h2 into row
    .locationsIconFlex,
    .communityIconFlex,
    .blogIconFlex,
    .phoneIconFlex{
        display: flex;
        i{
            width: 20px;
            color: $primaryColor;
        }
    }

    .locations{
        i{
            height: 30px;
            width: 30px;
            color: $primaryColor;
        }
    }
    h2{
        @include h2(2.6rem);
        padding-bottom: 10px;
    }
}

// POPULAR SECTION STYLING
.popular{
    background-color: $backgroundColor2;
    padding: 75px 0;
    .flexContainer{
        flex-wrap: wrap;
        // setting width on flex children and further styling
        figure{
            flex-basis: 34%;
            min-width: 200px;
            box-shadow: 25px 25px 0px 5px $borderColor;
        }
        article{
            flex-basis: 64%;
            padding-left: 80px;
            h2{
                @include h2(2.6rem);
                padding-bottom: 10px;
            }
            p{
                padding-bottom: 10px
            }
            button{
                @include button;
            }
        }
    }   
}




// GALLERY SECTION STYLING
.gallery{
    min-height: 60vh;
    background-color: $backgroundColor1;
    /* flex wrap to get a more responsive site */
    .flexContainer{
        padding: 75px 0;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        gap: 20px;
    }
    /* setting a min width to the images to keep proper sizing and to tell the browser when to apply flex wrap */
    ul li{
        flex-basis:32%;
        min-width: 200px;
    }
}

