@use './mixins' as *;
@use './variables' as *;

// ABOUT STYLING SECTION
.about{
    background-color: $backgroundColor1;
    padding: 20% 0;
    .wrapper{
        text-align: center;
        h2{
            @include h2;
            font-size: clamp(1.6rem, 3vw, 2.6rem);
            padding: 20px 0;
        }
        p{
            padding-bottom: 20px;
        }
        button{
            color: $backgroundColor2;
            background-color: $primaryColor;
            padding: 8px 12px;
            text-transform: uppercase;
            letter-spacing: 0.05rem;
            font-size: clamp(0.8rem, 3vw, 1rem);
            border: 2px solid $primaryColor;
            transition: background-color 0.3s ease, color 0.3s ease;
            cursor: pointer;
        }
        button:hover,
        button:focus{
            color: $primaryColor;
            background-color: $backgroundColor1;
        }
    }
}

// BLOG INDEX PREVIEW STYLING SECTION
.blogPreview{
    .flexContainer{
        flex-wrap: wrap;
    }
    background-color: $backgroundColor2;
    .blog1 figure,
    .blog1 article,
    .blog2 figure,
    .blog2 article{
        flex-basis: 50%;
        min-width: 200px;
    }


    .blog1,
    .blog2{
        padding-bottom: 30px;
    }



    .blog1 article,
    .blog2 article{
        padding-left: 10%;
        padding-right: 10%;
    }
        .blog1{
            figure{
            position: relative;
            top: -25px;
            img{
                box-shadow: 25px 25px 0px 1px $borderColor;
            }
            }
        }
        .blog2{
            figure{
            position: relative;
            bottom: -40px;
            img{
                box-shadow: -25px 25px 0px 1px $borderColor;
            }
            }
        }

        article{
            h2{
                @include h2;
                font-size: clamp(1.8rem, 3vw, 2.1rem);
                padding: 20px 0;
            }
            p{
                padding-bottom: 20px;
            }
            button{
                @include button;
            }
            button:hover,
            button:focus{
                color: $detailColor;
                background-color: $backgroundColor2;
            }
    }
}


// ENGAGEMENT STYLING SECTION
.engagment{
    background-color: $backgroundColor1;
    padding: 10% 0 5% 0;
    .flexContainer{
        flex-wrap: wrap;
    }

    .locations,
    .community,
    .blog,
    .getInTouch{
        flex-basis: 50%;
        padding-bottom: 5%;
    }
    
    .locations,
    .blog{
        padding-right: 5%;
    }

    .locationsIconFlex,
    .communityIconFlex,
    .blogIconFlex,
    .phoneIconFlex{
        display: flex;
        i{
            font-size: clamp(1.7rem, 3vw, 2rem);
            color: $primaryColor;
        }
    }

    .locations{
        i{
            color: $primaryColor;
        }
    }
    h2{
        @include h2;
        font-size: clamp(1.6rem, 5vw, 2.6rem);
        padding: 0  0 10px 15px;
    }
}

// POPULAR SECTION STYLING
.popular{
    background-color: $backgroundColor2;
    padding: 75px 0;
    .flexContainer{
        flex-wrap: wrap;
        figure{
            flex-basis: 34%;
            min-width: 200px;
            img{
                box-shadow: 25px 25px 0px 5px $borderColor;
            }
        }
        article{
            flex-basis: 64%;
            padding-left: 80px;
            h2{
                @include h2;
                font-size: clamp(1.6rem, 5vw, 2.6rem);
                padding-bottom: 10px;
            }
            p{
                padding-bottom: 10px
            }
            button{
                @include button;
            }
            button:hover,
            button:focus{
                color: $detailColor;
                background-color: $backgroundColor2;
            }
        }
    }   
}




// GALLERY SECTION STYLING
.gallery{
    min-height: 60vh;
    background-color: $backgroundColor1;
    .flexContainer{
        padding: 75px 0;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;
        gap: 20px;
    }

    ul li{
        flex-basis:32%;
        min-width: 200px;
    }
}

