@use './variables' as *;
// MEDIA QUERIES FOR TABLET
@media (max-width:900px){
    // TYPOGRAPHY STYLES 
    h3, h4, h5, h6, p, a, li, button{
        font-size: 0.8rem;
    }
            
    p{
        line-height: 1.2rem;
        font-size: 0.8rem;
    }
    // HEADER
    .blogHeader{
        background-position: 70%;
    }
    .contactHeader{
        background-position: left;
    }
    .indexHeader{
        background-position: 55%;
    }
    header{
        .headerImg{
        bottom: -15%;
        }
    }
    .logoP{
        color: $primaryColor;
    }

    // HAMBURGER MENU 
    .headerNav {
        .navFlex{
            justify-content: space-around;
        }
    }

    .navToggle{
        display: inline-block;
        font-size: 2rem;
        color: $primaryColor;
    }

    .navToggle:hover,
    .navToggle:focus{
        color: $backgroundColor1;
    }

    .navMenu{
        position: absolute;
        display: none;
        height: 50%;
        overflow-y: scroll;
        overflow-x: visible;
        overflow-x: visible;
        transition: left 0.3s ease, box-shadow 0.3s ease;
        background-color: $backgroundColor1;
        z-index: 1000;
        ul{
            min-height: 100%;
            width: 100%;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            padding: 0;
            margin: 0;
            a{
                color: $primaryColor;
            }
            a:hover,
            a:focus{
            color: white;
            background-color: $primaryColor;
            }
        .navClose{
            position: absolute;
            top: 0;
            right: 0;
            a{
                color: $primaryColor;
                font-size: 2rem;
            }
        }
        }
    }

    .navMenu:target{
        .navClose{
            display: block;
            position: absolute;
            top: 10px;
            left: 10px;
        }
        display: block;
        right: 0;
        top: 0;
    }



    // INDEX
    // BLOG PREVIEW
    .blogPreview{
        .blog1{
            padding-bottom: 0;
        }
        .blog2{
            figure{
                bottom: -200px;
            }
        }
    }
}

// MEDIA QUERIES FOR MOBILE 
@media (max-width: 510px){

// HEADER QUERIES 
.headerNav{
    .logoP{
        flex-basis: 50%;
    }
}
.headerImg{
    display:none;
}
// INDEX QUERIES===============================
// BLOG PREVIEW
    .blogPreview{
        .flexContainer{
            flex-direction: column;
        }
        .blog1 figure,
        .blog1 article,
        .blog2 figure,
        .blog2 article{
        width: 100%;
        }
        .blog1{
            padding-bottom: 30px;
        }
        .blog2 figure{
            order: 1;
            position: inherit;
        }
        .blog2 article{
            order: 2;
            padding-top: 60px;
        }
    }

    // ENGAGEMENT
    .engagment{
        .locations,
        .community,
        .blog,
        .getInTouch{
            flex-basis: 100%;
        }
        .locations,
        .blog{
        padding-right: 0;
    }
    }

    // POPULAR
    .popular{
        .flexContainer{
            figure{
                flex-basis: 100%;
            }
            article{
                flex-basis: 100%;
                padding-top: 60px;
                padding-left: 0;
            }
        }
    }

    // GALLERY
    


// BLOG QUERIES================================
.blogRight{
    order:1;
    flex-basis: 90%;
}
// WORLD 
.world{
    .bannerImgBlog{
        top:-50px;
    }
}

// COMMENTS SECTION 
.comment1,
.comment2{
    figure{
        flex-basis: 20%;
    }
    article{
        flex-basis: 75%;
    }
}

// ASIDE
.asideBlog{
    figure{
        top: 0;
        right: 0;
        img{
            width:100%;
            height: auto;
        }
    }
}

// COMMENT FORM 
.commentForm{
    .formTop{
        flex-direction: column;
        input{
            padding: 5% 0;
        }
    }
}

.asideBlog{
    order: 2;
    flex-basis: 100%;
    margin: 0 auto;
    padding: 5%
}
// CONTACT QUERIES=============================
.contactFlex{
    flex-direction: column;
    .contactAside{
        flex-basis: 100%;
        text-align: center;
    }
    .contactFormSection{
        flex-basis: 100%;
        top:0;
        left: 0;
        margin: 50px 0 60px 0;
        .contactFormTop{
            flex-direction: column;
            input{
                padding-top: 15px;
            }
        }
    }
}
}