@use './variables' as *;
@use './mixins' as *;

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

#modalBackground{
    @include modalBackground;
}

#modal{
    @include modalBaseStyles;
    background-color: $backgroundColor2;
    article{
        h2{
            @include h2(2.1rem);
        }
        h3{
            margin-top: 10px;
        }
        flex-basis: 100%;
        margin: 10%;
        text-align: center;
        figure{
            flex-basis: 80%;
        }
    }
    button{
        @include modalCloseButton;
    }
    button:hover,
    button:focus{
        font-size: 2rem;
    }
}

// MODAL2
#modalBackgroundTwo{
    @include modalBackground;
}

#modalTwo{
    @include modalBaseStyles;
    height: 80vh;
    background-image: url(../assets/js/newAdditions.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    article{
        flex-basis: 100%;
        margin: 10% 20%;
        padding: 10%;
        text-align: center;
        background-color: $backgroundColor2;
        opacity: .8;
        h2{
            @include h2(2.1rem);
        }
        h3{
            margin-top: 10px;
        }
    }
    button{
        @include modalCloseButton;
    }
    button:hover,
    button:focus{
        font-size: 2rem;
    }
}

// MODAL3
#modalBackgroundThree{
    @include modalBackground;
}

#modalThree{
    @include modalBaseStyles;
    height: 80vh;
    background-image: url(../assets/js/tooMany.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    article{
        flex-basis: 100%;
        margin: 10% 20%;
        padding: 10%;
        text-align: center;
        background-color: $backgroundColor2;
        opacity: .8;
        h2{
            @include h2(2.1rem);
        }
        h3{
            margin-top: 10px;
        }
    }
    button{
        @include modalCloseButton;
    }
    button:hover,
    button:focus{
        font-size: 2rem;
    }
}

// MODAL 4
#modalBackgroundFour{
    @include modalBackground;
}

#modalFour{
    @include modalBaseStyles;
    background-color: $backgroundColor2;
    article{
        flex-basis: 100%;
        margin: 10% 20%;
        padding: 10%;
        text-align: center;
        background-color: $backgroundColor2;
        opacity: .8;
        h2{
            @include h2(2.1rem);
        }
        h3{
            margin-top: 10px;
        }
    }
    button{
        @include modalCloseButton;
    }
    button:hover,
    button:focus{
        font-size: 2rem;
    }
}