html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 125%;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  color: #0D0D0D;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  list-style: none;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 85%;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1, h2 {
  font-family: "Pompiere", serif;
  margin: 0;
  padding: 0;
}

h3, h4, h5, h6, p, a, li, button {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

p {
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
}

.indexHeader {
  background-image: url(../assets/header-image.jpg);
  min-height: 100vh;
}

.contactHeader {
  background-image: url(../assets/contact-image.jpg);
  min-height: 70vh;
}

.blogHeader {
  background-image: url(../assets/blog-header.jpg);
  min-height: 70vh;
}

header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px 0;
}
header h1 {
  margin-top: 150px;
  color: #4C0341;
  font-size: 4.6rem;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  text-align: center;
}
header .indexH1 {
  font-size: 5.5rem;
  width: 40%;
  text-align: left;
  line-height: 3.2rem;
  text-transform: none;
}

.headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.headerNav .logoP {
  font-family: "Pompiere", serif;
  font-size: 1.79rem;
  letter-spacing: 0.055rem;
  line-height: 1.8rem;
}
.headerNav .logoP span {
  display: block;
}
.headerNav nav {
  width: 40%;
}
.headerNav .navFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headerNav .navFlex li a {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  padding: 4px 7px;
}
.headerNav .navFlex a:hover,
.headerNav .navFlex a:focus {
  color: white;
  background-color: #4C0341;
}

header {
  position: relative;
}
header .headerImg {
  width: 50%;
  position: absolute;
  right: 0.1%;
  bottom: -40%;
}

.about {
  background-color: #FAE5FF;
  padding: 20% 0;
}
.about .wrapper {
  text-align: center;
}
.about .wrapper h2 {
  font-size: 2.6rem;
  color: #4C0341;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  padding: 20px 0;
}
.about .wrapper p {
  padding-bottom: 20px;
}
.about .wrapper button {
  color: #FFF;
  background-color: #4C0341;
  padding: 8px 12px;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 1rem;
  border: none;
}

.blogPreview {
  background-color: #FFF;
  min-height: 100vh;
}
.blogPreview .blog1 figure,
.blogPreview .blog1 article,
.blogPreview .blog2 figure,
.blogPreview .blog2 article {
  width: 50%;
}
.blogPreview .blog1,
.blogPreview .blog2 {
  padding-bottom: 30px;
}
.blogPreview .blog1 article,
.blogPreview .blog2 article {
  padding-left: 10%;
  padding-right: 10%;
}
.blogPreview .blog1 figure {
  position: relative;
  top: -25px;
}
.blogPreview .blog1 figure img {
  -webkit-box-shadow: 25px 25px 0px 1px #FE6F19;
          box-shadow: 25px 25px 0px 1px #FE6F19;
}
.blogPreview .blog2 figure {
  position: relative;
  bottom: -40px;
}
.blogPreview .blog2 figure img {
  -webkit-box-shadow: -25px 25px 0px 1px #FE6F19;
          box-shadow: -25px 25px 0px 1px #FE6F19;
}
.blogPreview article h2 {
  font-size: 2.1rem;
  color: #4C0341;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  padding: 20px 0;
}
.blogPreview article p {
  padding-bottom: 20px;
}
.blogPreview article button {
  color: #fff;
  background-color: #882C07;
  padding: 10px 12px;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 1rem;
  border: none;
}

.engagment {
  background-color: #FAE5FF;
  min-height: 60vh;
  padding: 10% 0 5% 0;
}
.engagment .flexContainer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.engagment .locations,
.engagment .community,
.engagment .blog,
.engagment .getInTouch {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-bottom: 5%;
}
.engagment .locations,
.engagment .blog {
  padding-right: 5%;
}
.engagment h2 {
  font-size: 2.6rem;
  color: #4C0341;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  padding-bottom: 10px;
}

.popular {
  background-color: #FFF;
  padding: 75px 0;
}
.popular .flexContainer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.popular .flexContainer figure {
  -ms-flex-preferred-size: 34%;
      flex-basis: 34%;
  min-width: 200px;
  -webkit-box-shadow: 25px 25px 0px 5px #FE6F19;
          box-shadow: 25px 25px 0px 5px #FE6F19;
}
.popular .flexContainer article {
  -ms-flex-preferred-size: 64%;
      flex-basis: 64%;
  padding-left: 80px;
}
.popular .flexContainer article h2 {
  font-size: 2.6rem;
  color: #4C0341;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  padding-bottom: 10px;
}
.popular .flexContainer article p {
  padding-bottom: 10px;
}
.popular .flexContainer article button {
  color: #fff;
  background-color: #882C07;
  padding: 10px 12px;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 1rem;
  border: none;
}

.gallery {
  min-height: 60vh;
  background-color: #FAE5FF;
  /* flex wrap to get a more responsive site */
  /* setting a min width to the images to keep proper sizing and to tell the browser when to apply flex wrap */
}
.gallery .flexContainer {
  padding: 75px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 20px;
}
.gallery ul li {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  min-width: 200px;
}

main {
  background-color: #FAE5FF;
}

.flexBlog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blogRight {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin-left: 5%;
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  min-width: 400px;
}
.blogRight .blogwrapper {
  margin: 0 auto;
  width: 90%;
}

.world {
  background-color: #FFF;
  padding-bottom: 10px;
}
.world h2 {
  font-size: 2.6rem;
  color: #4C0341;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  padding-bottom: 10px;
}
.world h3 {
  padding-bottom: 35px;
}
.world p {
  padding-bottom: 30px;
}
.world .bannerImgBlog {
  position: relative;
  top: -120px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.world .bannerImgBlog img {
  width: 96%;
  -webkit-box-shadow: -33px 35px 0px 1px #FE6F19;
          box-shadow: -33px 35px 0px 1px #FE6F19;
}

.comments {
  padding: 30px 0 100px 0;
}
.comments h2 {
  font-size: 2.6rem;
  color: #4C0341;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
}

.comment1,
.comment2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.comment1 figure,
.comment2 figure {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
}
.comment1 article,
.comment2 article {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  padding-left: 5%;
}
.comment1 article h3,
.comment2 article h3 {
  padding-bottom: 10px;
}

.comment1 {
  padding-top: 30px;
}

.comment2 {
  padding-top: 60px;
}

.commentForm {
  padding-bottom: 50px;
}
.commentForm .formTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}
.commentForm .formTop input {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  border: 0;
  background-color: #FAE5FF;
  color: gray;
  border-bottom: 2px solid #FE6F19;
  margin-right: 3%;
}
.commentForm textarea {
  color: gray;
  background-color: #FAE5FF;
  display: block;
  border: 2px solid #FE6F19;
  width: 100%;
  height: 40vh;
  resize: none;
  margin-bottom: 20px;
  padding: 20px;
}
.commentForm button {
  display: block;
  color: #fff;
  background-color: #4C0341;
  padding: 10px 0;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 1rem;
  border: none;
  width: 100%;
}

aside {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-left: 5%;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin-top: 100px;
}
aside .asideBackground {
  background-color: #FFF;
}
aside h2 {
  font-size: 1.5rem;
  color: #4C0341;
  text-transform: uppercase;
  letter-spacing: 0.06rem;
  padding-top: 40px;
}
aside p {
  padding-bottom: 40px;
}
aside ul {
  line-height: 1.6rem;
  padding-bottom: 20px;
  list-style: disc;
}

.contactFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer {
  background-color: #882C07;
}
footer p {
  color: #FFF;
  text-align: center;
  padding: 10px 0;
}